body {
    font-family: 'Poppins', sans-serif;
    background-color: #ccc;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
}

hr { 
    width: 50%;
    margin-bottom: 50px;
}

p {
    text-align: center;
}