@import url("includes/css/style.css");

:root {
    --grisOscuro: #3B3B3B;
    --blancoOscuro: #F8F8F8;
    --blanco: #FEFEFE;
    --mainFont: 'Raleway', sans-serif;
    --secondaryFont: 'Open Sans', sans-serif;
}

* {
    list-style: none;
}

#contacto {
    height: auto;
    width: 70%;
    margin: 0 auto;
    color: var(--grisOscuro);
}

#contacto h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    text-shadow: 2px 2px #ccc;
}

.formulario {
    display: block;
    width: 50%;
    margin: 0 auto;
}

form {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

input[type=text]:focus {
    border: 2px solid var(--grisOscuro);
}


input[type=submit] {
    width: 100%;
    margin: auto;
    background-color: #ccc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

input[type=submit]:hover {
    background-color: var(--grisOscuro);
    box-shadow: 2px 3px #ccc;
}

.mapa {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.mapa iframe {
    filter: saturate(50%);
    border: none;
}

.mapa iframe:hover {
    box-shadow: 4px 4px 1px var(--grisOscuro);
}

    footer {
        position: relative;
    }