@import url("includes/css/style.css");

:root {
    --grisOscuro: #3B3B3B;
    --blancoOscuro: #F8F8F8;
    --blanco: #FEFEFE;
    --mainFont: 'Raleway', sans-serif;
    --secondaryFont: 'Open Sans', sans-serif;
}

#portfolio {
    height: auto;
    width: 100%;
    margin: 0 auto;
    color: var(--grisOscuro);
}

#portfolio h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    text-shadow: 2px 2px #ccc;
}

.categories {
    height: 30%;
    width: 100%;
    margin-top: 50px;
}

.categories img {
    display: block;
    width: 20vh;
    height: auto;
    filter: contrast(30%);
}

.categories img:hover {
    filter: contrast(100%);
}

#espacio {
    padding-left: 50px;
    padding-right: 50px;
}

.tabla {
    display: table;
    margin: 0 auto;
}

.fila1 {
    display: table-row;
    width: 100%;
    margin: 0 auto;
}

.fila2 {
    display: table-row;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.fila1 a {
    text-decoration: none;
    color: var(--grisOscuro);
}

.css,
.cliente {
    display: table-cell;
}

.css a img {
    margin: 0 auto;
}

.css h3 {
    margin-top: 30px;
}

.cliente h3 {
    margin-top: 30px;
}

.fila2 a {
    display: table-cell;
}

a .fab {
    color: var(--grisOscuro);
    font-size: 2.5em;
    margin-top: 30px;
    filter: contrast(30%);
}

a .fab:hover {
    text-shadow: 3px 3px #ccc;
}

.apps-web {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.apps-web a {
    text-decoration: none;
    color: var(--grisOscuro);
}

.apps-web a img {
    display: block;
    width: 10vh;
    margin: 0 auto;
    height: auto;
    filter: contrast(30%);
}

.apps-web a:hover img {
    filter: contrast(100%);
}

.apps-web h3 {
    margin-top: 30px;
}

footer {
    position: relative;
}

@media (max-width:768px) {

    .categories img, .apps-web a img {
        width: 10vh;
    }

    .categories img:first-child {
        margin-left: 70px;
    }
}