/* FUENTES */
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root {
    --grisOscuro: #3B3B3B;
    --blancoOscuro: #F8F8F8;
    --blanco: #FEFEFE;
    --mainFont: 'Raleway', sans-serif;
    --secondaryFont: 'Open Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    height: 95vh;
    padding: 10px;
    /*overflow: hidden;*/
}

.container {
    border: 1px solid var(--grisOscuro);
    background: var(--blancoOscuro);
    min-height: 95vh;
    /*margin: 10px;*/
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0 auto;
    background: var(--blanco);
    text-align: center;
    margin-top: 20px;
}

header a {
    text-decoration: none;
    color: var(--grisOscuro);
}

header a h1 {
    padding: 30px;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 15px;
}

header a h1 span {
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 2px #ccc;
}

header a img {
    display: block;
    width: 50px;
    margin: auto;
    padding-bottom: 30px;
}

#indice {
    height: 50%;
    width: 100%;
}

.sections {
    width: 49%;
    position: absolute;
    left: 50%;
    top: 40%;
    overflow: hidden;
}

.sections a {
    text-decoration: none;
    color: var(--grisOscuro);
    display: block;
    padding: 20px;
    border-top: 1px solid var(--grisOscuro);
    font-weight: 700;
    letter-spacing: 2.5px;
}

.section_title {
    display: inline-block;
    transition: all 100ms;
}

.sections a:hover .section_title {
    font-size: 40px;
    text-shadow: 2px 2px #ccc;
    /*animation: fromRight 500ms linear;*/
}

/*@keyframes fromRight {
    from {
        /* from sería desde el 0% de la animación
        /* animación de traslado de un eje determinado 
        transform: translateX(200%);
        font-size: 40px;
        text-shadow: 2px 2px #ccc;
    }

    to {
        /* to sería el 100% del fin de la animación 
        transform: translateX(0%);
        font-size: 40px;
        text-shadow: 2px 2px #ccc;
    }
}*/

.sections a i {
    padding-right: 10px;
}

.sections a:last-child {
    border-bottom: 1px solid var(--grisOscuro);
}

#sticky-menu {
    position: relative;
    top: 20%;
    width: 60px;
    background: var(--blanco);
}

#sticky-menu span {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    text-shadow: 3px 3px #ccc;
}

/* OVERLAY - Fondo */
.overlay {
    /* Tamaño del overlay (ver JS) */
    height: 100%;
    width: 0;
    /* Posición fija */
    position: fixed;
    /* Superpuesto a todo */
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--azul);
    background-color: rgba(59, 59, 59, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* OVERLAY - Posición del contenido */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* OVERLAY - Enlaces */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: black;
    display: block;
    transition: 0.3s;
}

/* OVERLAY - Efectos hover de los enlaces */
.overlay a:hover,
.overlay a:focus {
    color: var(--blanco);
}

/* OVERLAY - Botón cerrar */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

footer {
    width: 100%;
    letter-spacing: 3px;
    font-weight: 200;
    font-family: var(--secondaryFont);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 1436px) {
    .sections a:nth-child(2) {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    .sections {
        display: none;
    }

    #sticky-menu {
        position: relative;
        top: 20%;
        width: 60px;
        background: var(--blanco);
    }

    #sticky-menu span {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        cursor: pointer;
        padding: 10px;
        text-shadow: 3px 3px #ccc;
    }
}

@media screen and (max-width: 570px) {
    header {
        width: 100%;
    }

    header a h1 {
        display: none;
    }

    header a img {
        padding-top: 20px;
    }
}

@media screen and (max-width: 550px) {

    header {
        width: 100%;
    }

    header a h1 {
        display: none;
    }

    header a img {
        padding-top: 20px;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}