* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(204, 255, 238);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#clearfix {
    float: none;
    clear: both;
}

#titulo {
    text-align: center;
    height: 100px;
    width: 50%;
    margin: 0 auto;
}

#titulo h1 {
    display: block;
    border: 2px solid black;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-shadow: 2px 2px 3px black;
}

#leftwrap {
    float: left;
    width: 20%;
    height: 100%;
}

#caja1 {
    background-color: #ffbb99;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

#caja1 .lista-ordenada {
    display: block;
    margin-left: 30px;
    padding-top: 30px;

}

#caja2 {
    background-color: #8ff88f;
    height: 200px;
    width: 300px;
    margin-top: 5px;
    border-radius: 10px;
    border-bottom: 5px solid #ccc;
    border-left: 5px solid black;
}

#caja2 .lista-vacio {
    list-style: lower-alpha;
    margin-left: 30px;
    padding-top: 30px;
}

#principal {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

#principal .lista-normal {
    list-style-type: disc;
    margin-left: 30px;
    padding-top: 30px;
}

#rightwrap {
    float: right;
    width: 20%;
    min-height: 100%;
}

#caja3 {
    background-color: #d699ff;
    min-height: 700px;
    width: 300px;
    border-radius: 10px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid #ccc;
}

#caja3 .lista-romana {
    list-style: upper-roman;
    margin-left: 30px;
    padding-top: 30px;
}